VITE_APP_ENVIRONMENT=production
VITE_SHELL_ORIGIN=https://pokedex.example.com
VITE_POKEMON_DETAIL_ORIGIN=https://pokedex-detail.example.com
VITE_POKEMON_HISTORY_ORIGIN=https://pokedex-history.example.com
VITE_POKEMON_DETAIL_REMOTE_ENTRY=https://pokedex-detail.example.com/assets/remoteEntry.js
VITE_POKEMON_HISTORY_REMOTE_ENTRY=https://pokedex-history.example.com/assets/remoteEntry.js
VITE_POKEAPI_BASE_URL=https://pokeapi.co/api/v2
