VITE_APP_ENVIRONMENT=production
VITE_POKEMON_DETAIL_PORT=3001
VITE_SHELL_ORIGIN=https://pokedex.example.com
VITE_POKEMON_HISTORY_ORIGIN=https://pokedex-history.example.com
VITE_POKEAPI_BASE_URL=https://pokeapi.co/api/v2
